/*帖子主题展示区域*/
.topic {
    border-bottom: blue 5px dotted;

    background-color: #edd8b1;
}
/*帖子标题*/
.topic .title {
    text-align: center;
    font-size: 20px;
}
/*帖子内容展示*/
.topic .content {
    font-size: 18px;
    font-family: 楷体, system-ui;

    padding: 20px;
}
/*展示帖子表格宽度利用全浏览器宽度*/
#list {
    width: 100%;
}
/*单元格的下边框，形成模拟下划线*/
#list td{
    border-bottom: darkgray 1px solid;
}
/*行号*/
#list .line_count {
    text-align: center;
    text-decoration: underline;

    font-weight: 900;
    font-size: 18px;

    width: 30px;
}
/*作者信息*/
#list .author {
    font-family: 黑体, serif;
    font-weight: 500;
    width: 150px;
}

#list .title {
}

/*发帖、消息时间*/
#list .post_time {
    color: rgb(128, 128, 128);

    width: 200px;
}
/*删帖*/
#list .delete {
    width: 80px;
    text-align: center;
}
/*发帖表单*/
#post textarea, #post input[type="text"] {
    background-color: #ffffffab;

    width: 600px;

    border: 1px blue dashed;

    outline: none;

    resize: none;
}